.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: calc(50% + 200px);
  left: calc(50% - 40px);
  height: 3rem;
  width: 3rem;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  content: attr(data-progress-text);
  /*font-family: "Helvetica Neue", sans-serif;*/
  font-weight: 100;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: #8A6D4D;
}