
@font-face {
    font-family: 'fg-medium';
    src: url('/assets/font/FoundersGrotesk-Medium.otf');
}
@font-face {
    font-family: 'fg-regular';
    src: url('/assets/font/FoundersGrotesk-Regular.otf');
}
@font-face {
    font-family: 'l-bold';
    src: url('/assets/font/Lyon Bold.ttf');
}
@font-face {
    font-family: 'fg-bold';
    src: url('/assets/font/FoundersGrotesk-Bold.otf');
}
@font-face {
    font-family: 'siyuan';
    src: url('/assets/font/NotoSansHans-Regular.otf');
}
a, a:visited{
  text-decoration: none;
  color: inherit;
}
html,body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  font-family: 'fg-regular', 'siyuan';
  margin:0;
}
.brown{
  color: #896C4C!important;
}
.relative{
  position: relative;
}
.background {
  position: fixed;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  background-color: rgb(247, 246, 243);
  margin: 40px;
}

.title {
  position: absolute;
  left: 70px;
  top: 80px;
  z-index: 100
}

.circle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}
.footer-m,
.footer {
  position: absolute;
  width: calc(100% - 150px);
  margin: 0 auto;
  bottom: 50px;
  left: 70px;
}
.footer-m{
  display: none;
}
.left_footer {
  position: absolute;
  float: left;
  color: #A7A296;
  font-size: 14px;
  /*top: 20%;*/
  bottom: 0px
}

.icon {
  position: relative;
  display: inline-block;
  float: right;
  margin-left: 30px;
  top: 22px;
  transform: translate(0,-50%);
  -ms-transform: translate(0, -50%);
}

.nav {
  position: fixed;
  width: 80px;
  /*height: 480px;*/
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  z-index: 100;
}
.en_cn {
  position: relative;
  background-color: rgb(220, 216, 206);
  width: 39px;
  height: 39px;
  float: left;
  text-align: center;
  font-size: 14px;
  display: block;
  line-height: 40px;
  color: #fff;
}

.border_left {
  border-left: 1px solid white;
  cursor: pointer;
}

.border_right {
  border-right: 1px solid white;
  cursor: pointer;
}

.blank {
  width: 80px;
  height: 400px;
  float: left;
  background-color: white;
  text-align: center;
  position: relative;
}

.contact_us {
  width: 80px;
  height: 132px;
  position: relative;
  background-color: rgb(137, 108, 76);
  float: left;
}

.navbar {
  width: 400px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  line-height: 80px;
}

.nav_font {
  font-size: 14px;
  float: left;
  position: relative;
  margin: 0 15px;
  cursor: pointer;
  width:calc(25% - 30px);
  text-align: center;
}

.nav_font2 {
    font-size: 14px;
    color: white;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    width: 83px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
}

.hvr-underline-from-left-white,
.hvr-underline-from-left{
  /*display:inline-block;*/
  vertical-align:middle;
  -webkit-transform:perspective(1px) translateZ(0);
  transform:perspective(1px) translateZ(0);
  box-shadow:0 0 1px transparent;
  position:relative;
  overflow:hidden
}
.hvr-underline-from-left-white:before,
.hvr-underline-from-left:before{
  content:"";
  position:absolute;
  z-index:-1;
  left:0;
  right:100%;
  bottom:-3px;
  background:rgb(137, 108, 76);
  height:3px;
  -webkit-transition-property:right;
  transition-property:right;
  -webkit-transition-duration:.3s;transition-duration:.3s;
  -webkit-transition-timing-function:ease-out;
  transition-timing-function:ease-out
}
.hvr-underline-from-left-white:active:before,
.hvr-underline-from-left-white:focus:before,
.hvr-underline-from-left-white:hover:before,
.hvr-underline-from-left:active:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:hover:before{
  right:0
}
.hvr-underline-from-left-white:before{
  background:#fff;
  /*bottom: px;*/
}
.selected{
  color:#896C4C!important;
  font-weight: bold;
  border-bottom: 3px solid #896C4C;
}
.body-content{
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  margin: 40px;
  position: relative;
}
.container3{
  position: fixed;
  left: -175px;
  top: 50%;
  transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  z-index: 10;
  font-size: 14px;
  letter-spacing: 1px;
  color: #DCD8CE;
}
.container3 figure{
  position: absolute;
  width: 200px;
  transition: all 0.5s ease;
  list-style:square;
}
.fa-circle{
  font-size: 8px!important;
  margin-right: 20px;
}
.current-tab{
  color: #000;
}
.left-block{
  position: absolute;
  width: 290px;
  height: 250px;
  overflow: hidden;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}
.uppertitle{
  position: absolute;
  left: 100%;
  font-size: 230px;
  font-weight: bold;
  color: #fff;
  animation: upmove 30s linear infinite;
  width: 2500px;
  transition: opacity 1s linear;
  font-family: 'fg-bold';
}
.lowertitle{
  text-align: right;
  position: absolute;
  right: 100%;
  bottom: -85px;
  font-size: 230px;
  font-weight: bold;
  color: #fff;
  animation: downmove 30s linear infinite;
  width: 3000px;
  transition: opacity 1s linear;
  font-family: 'fg-bold';
}
@keyframes upmove{
  0%   {left:100%;}
  100%  {left:-3000px;}
}
@keyframes downmove{
  0%   {right:100%;}
  100%  {right:-3000px;}
}
.qrcode{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 200;
  display: none;
}
.qrcode img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.page-btn{
  position: absolute;
  left: 30px;
  z-index: 80;
  display: none;
}
#prev-page{
  top: 35%;
}
#next-page{
  bottom: 35%;
}
.page-btn img{
  width: 30px;
  height: auto;
}
@media(max-width: 1200px){
  .lowertitle,
  .uppertitle{
    font-size: 200px;
    width: 2000px;
  }
  .title{
    left: 60px;
    top: 60px;
  }
  .circle{
    left: -30px;
  }
  .container3{
    left: -205px;
  }
}
@media(max-width: 991px){
  .circle{
    left: -50px;
  }
  .lowertitle,
  .uppertitle{
    font-size: 150px;
    width: 2000px;
  }
  .title{
    left: 40px;
    top: 40px;
  }
  .title img{
    width: 240px;
    height: auto;
  }
  .background{
    margin:20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
  }
  .body-content{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px;
  }
  .footer{
    bottom: 40px;
    left: 40px;
    width: calc(100% - 80px);
  }
  .nav{
    width: 40px;
  }
  .navbar{
    height: 40px;
    /*line-height: 40px;*/
    width: 240px;
  }
  .en_cn{
    width: 19px;
    height: 30px;
    font-size: 10px;
    line-height: 30px;
  }
  .contact_us{
    width: 40px;
    height: 100px;
  }
  .nav_font{
    margin: 0 5px;
    width: calc(33% - 10px);
  }
  .blank{
    height: 240px;
  }
  .icon img{
    width: 24px;
    object-fit: contain;
  }
  .nav_font2,
  .nav_font{
    font-size: 12px;
  }
}
@media(max-height: 750px){
  .circle{
    left: -50px;
  }
  .lowertitle,
  .uppertitle{
    font-size: 150px;
    width: 2000px;
  }
  .title{
    left: 40px;
    top: 40px;
  }
  .title img{
    width: 240px;
    height: auto;
  }
  .background{
    margin:20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
  }
  .body-content{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px;
  }
  .footer{
    bottom: 40px;
    left: 40px;
    width: calc(100% - 80px);
  }
  .icon img{
    width: 24px;
    object-fit: contain;
  }

}
@media(max-width: 768px){
  .circle{
    display: none;
  }
  .lowertitle,
  .uppertitle{
    font-size: 80px;
    width: 1000px;
  }
  .lowertitle{
    bottom: 0;
  }
  .title{
    left: 30px;
    top: 30px;
  }
  .title img{
    width: 180px;
    height: auto;
  }
  .footer{
    bottom: 30px;
    left: 30px;
    width: calc(100% - 60px);
  }
  .fa-circle{
    margin-right: 10px;
  }
  .page-btn{
    display: block;
  }
}
@media(max-width: 500px){
  .left_footer{
    position: unset;
    float: unset;
    font-size: 10px;
  }
  .footer{
    display: none;
  }
  .footer-m{
    display: block;
    text-align: center;
    bottom: 0px;
  }
  .icon{
    margin-left: 10px;
    margin-right: 10px;
    top:-70px;
    float: unset;
    transform: translate(0,50%);
    -ms-transform: translate(0,50%);
  }
  .icon img{
    width: 20px;
  }
}
@media(max-height: 320px){
  .left_footer{
    font-size: 12px;
  }
}
